@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>
    $(() => {
        $.ajax({
            url: '/?handler=TestTask'
        }).then((data) => {
            console.log(data);
        });
    });
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="@Url.Action("Two", "Game")">@Url.Action("Two", "Game")</a>
    <a href="@Url.Action("One", "Game")">@Url.Action("One", "Game")</a>
</div>
